<header class="bg-yellow-400 h-14 flex flex-row justify-between items-center flex-shrink-0">
	<%= link_to :back do%>
			<%= render 'shared/icons/chevron_left', classname: "h-6 w-6 text-gray-900 mx-5" %>
	<% end %>
	<a href="/">
		<h1 class="text-center font-serif font-bold text-lg">Numenu</h1>
	</a>
	<a href="/users/profile">
		<%= render 'shared/icons/user', classname: "h-6 w-6 text-gray-900 mx-5" %>
	</a>
</header>