<header class="bg-yellow-400 h-14 flex flex-row justify-between items-center">
	<a href="/">
		<svg class="h-6 w-6 text-gray-900 mx-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
		</svg>
	</a>
	<a href="/">
		<h1 class="text-center font-serif font-bold text-lg">Numenu</h1>
	</a>
	<a href="/">
		<svg class="h-6 w-6 text-gray-900 mx-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
		</svg>
	</a>
</header>