	<form class="w-full flex flex-col overflow-hidden" method="POST" action="<%= dish_reviews_path(@dish) %>">
		<div class="border rounded my-5 py-2">
			<%= render 'shared/star_rating' %>
		</div>
		<input name="review" type="text" class="border rounded border-gray-200" placeholder="Write your reviews here" />
		<button type="submit" class="bg-yellow-400 text-black font-medium w-full py-3 my-3">
			Submit
		</button>
	</form>