<li class="w-full border rounded px-3 py-5 flex-col">
  <div class="mb-3">
    ⭐️ 
    <span class="text-yellow-500 ml-2 font-black">
    <%= review.rating %>
    </span>
  </div>
  <p class="text-lg text-gray-800">
    <%= review.review %>
  </p>
</li>