<div class="fixed bottom-0 w-full bg-yellow-400 flex justify-between items-center rounded-t-lg" style="height: 100px">
  <a href="/">
    <%= render "shared/icons/location_marker", classname: "h-8 text-gray-900 mx-5" %>
  </a>
  <a href="/">
    <%= render "shared/icons/qrcode", classname: "h-14 text-gray-900 mx-5" %>
  </a>
  <a href="/">
    <%= render "shared/icons/user", classname: "h-8 text-gray-900 mx-5" %>
  </a>
</div>