<div id="welcome">
	Welcome to Numenu
	<%= link_to 'View Restaurants', restaurants_path, :class => 'btn btn-primary' %>
	<br>
	<%= link_to 'Login or Signup', users_path, :class => 'btn btn-primary' %>
</div>