<!-- <h1>This will be the homepage for numenu</h1>
<p>Find me in app/views/home/index.html.erb</p> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../../assets/stylesheets/application.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">
</head>

<body>
	<div id="banner">
		<span id="back-arrow"><</span>
		<span id="title">Numenu</span>
		<span id="user-icon">
			<img id="user-icon-img" src="./Sample_User_Icon.png">
		</span>
	</div>
</body>