<div class="flex flex-col items-center justify-around mx-4 py-10 h-full">
  <h3 class="text-center text-xl font-medium my-10 text-gray-700">
    Point camera at a numenu code
  </h3>
  <div class="w-full h-72 overflow-hidden">
    <canvas id="canvas" hidden class="w-full"></canvas>
  </div>
  <div>
    <h3 class="text-center text-xl font-medium my-5 text-gray-700">
      Or enter the 8 digits code
    </h3>
    <div class="flex">
      <input class="text-center text-lg font-bold rounded" type="text"  maxlength="8">
      <button class="bg-yellow-300 rounded ml-3 px-3 font-medium" type="submit">
        Submit
      </button>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'qrcode_scanner' %>