<div id="banner">
	<span id="back-arrow"><%= link_to '<', home_path, :class => 'btn btn-primary' %></span>
	<span id="title">Numenu</span>
	<span id="user-icon">
		<img id="user-icon-img" src="/images/Sample_User_Icon.png">
	</span>
</div>

<div id="search-area">
</div>
<% @restaurants.each do |r| %>
	<div id="restaurant">
		<div id="restaurant-img">
			<img src="/images/food_filler.jpeg">
		</div>
		<div id="restaurant-info">
			<span id="description" class="text">
				<%= r.name %>
			</span>
			<span class="text"><%= link_to "View reviews for " + r.name, restaurant_reviews_path(r), :class => 'btn btn-primary' %></span>
			<span id="star">
				<img id="star" src="/images/star_icon.png">
			</span>
			<span id="score" class="text">Meal Score: 3.8</span>
		</div>
	</div>
<% end %>
