<h1 class="text-center text-xl font-bold py-5">
	<%= @restaurant.name %>
</h1>

<%= @restaurant.qrcode(request.base_url).html_safe %>

<ul class="list-none space-y-6 container mx-auto px-3 py-6">
	<% @restaurant.dishes.each do |dish| %>
		<%= render "dish_card", dish: dish %>
	<% end %>
</ul>

<%# Write a review for <%= link_to @restaurant.name, restaurant_reviews_path(@restaurant.id), :class => 'btn btn-primary' %>