// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html{
    width:auto;
    height: auto;
    min-height:100%;
    min-width: 1280px;
}

body{
    background: #F8F8F8;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction:column;
	margin:0px; 
	padding-bottom: 30px;
}

#banner {
	width:100%;
	height: 44px;
	background-color: #F9DA4A;
	text-align: center;
}

#back-arrow {
	left: 3.46%;
	right: 94.4%;
	top: 2.4%;
	bottom: 95.8%;
	height: 44px;

	padding-left: 2%;

	display: inline-flex;
  	align-items: center;

	mix-blend-mode: normal;
	opacity: 0.65;
	float: left;
}
#title {
	width: 74px;
	height: 44px;
	left: 142px;
	top: 11px;

	display: inline-flex;
  	align-items: center;

	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	float: center;
	color: #000000;
}

#user-icon {
	width: 44px;
	height: 25px;
	float: right;
	display: inline-flex;
  	align-items: center;
  	padding-top: 11px;
  	padding-right: 2%;
}

#user-icon-img {
	width: 22px;
	height: 25px;
}

#search-box {
	padding-top: 21px;
	
}