// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#title {
	width: 74px;
	height: 44px;
	left: 142px;
	top: 11px;

	display: inline-flex;
  	align-items: center;

	font-family: Aleo;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	float: center;
	color: #000000;
}

#user-icon {
	width: 44px;
	height: 25px;
	float: right;
	display: inline-flex;
  	align-items: center;
  	padding-top: 11px;
  	padding-right: 2%;
}

#user-icon-img {
	width: 22px;
	height: 25px;
}

#search-box {
	padding-top: 21px;

}

#restaurant {
	margin-left: 2.5%;
	margin-top: 15px;
	width: 95%;
	height: 140px;
}

#restaurant-img {
	width: 100%;
	height: 100px;
	overflow: hidden;
}

#restaurant-img img {
	width: 100%;
}

#restaurant-info {
	width: 100%;
	height: 32px;
	margin-top: 8px;
}

.text {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */

	display: flex;
	align-items: center;

	color: #000000;
}

#name {
	float: left;
}

#score {
	display: inline-block;
	float: right;
}

#description {
	float: left;
	display: inline-block;
}

#type {
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;

	color: #828282;

}

#star {
	float: right;
	display: inline-block;
	height: 17px;
	width: 17px;
}

#reviews {
	margin-left: 100px;
}