<div class="px-3">
	<h1 class="text-center text-xl font-bold py-5">
		<%= @restaurant.name %>
	</h1>

	<%= render 'shared/review_form', action_path: restaurant_reviews_path(@restaurant) %>

	<ul class="w-full list-none space-y-6">
		<% @restaurant.restaurant_reviews.each do |review| %>
			<%= render 'shared/review_card', review: review %>
		<% end %>
	</ul>
</div>